.footer {
    font-size: 75%;
    opacity: 85%;
    margin-top: 20%;
}

.footer ul {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-left: 7%;
}

#about {
    text-decoration: none;
}


.footer li {
    list-style: none;
    color: silver;
}

.footer li:hover {
    color: darkmagenta;
}

.footer hr {
    width: 90vw;
}
