.nav {
    display: flex;
    justify-content: center;
}

   .nav ul {
        display: grid;
        grid-template-columns: 60vw 10vw;
        align-items: center;
        margin: .4% ;
        
    }
   .nav img {
        width: 3vw;
        
    }

   .nav li {
        list-style: none;
    }

   .nav hr {
        display: flex;
        justify-content: center;
        width: 90vw;
        margin-top: 0%;
    }