.nav {
    display: flex;
    justify-content: center;
}

    ul {
        display: grid;
        grid-template-columns: 75vw 10vw;
        align-items: center;
        margin: .4% ;
        
    }
    img {
        width: 3vw;
        
    }

    li {
        list-style: none;

    }

    hr {
        display: flex;
        justify-content: center;
        width: 90vw;
        margin-top: 0%;
    }